/* global reset & box sizing */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Handjet", sans-serif;
}

body {
    background-color: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/* layout principal */
main {
    background-color: white;
    aspect-ratio: 4 / 3;
    height: 100vh;
    max-width: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 48px;
    padding: 20px;
}

.container {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.info-1-container {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.box {
    width: fit-content;
    border: 1px solid black;
}

h3 {
    padding: 2px 8px;
    font-weight: 400;
    text-transform: uppercase;
    color: white;
    background-color: black;
}

/* typographies */
.my-name {
    font-size: 70pt;
    font-weight: 900;
    text-transform: uppercase;
    margin: 0 8px;
    line-height: 0.9;
    font-variation-settings: "ELGR" 2, "ELSH" 16;
}

.bio-inside {
    padding: 12px;
}

.true-name {
    font-size: 24pt;
    font-weight: 600;
    text-transform: uppercase;
    font-variation-settings: "ELGR" 1, "ELSH" 9;
}

.little-bio {
    width: 171px;
}

/* navigation & liens */
.existing-links {
    padding: 16px;
    border-bottom: 1px dashed black;
}

.future-links {
    padding: 16px;
}

ul {
    list-style: none;
}

ul li {
    text-transform: uppercase;
    margin: 4px 0;
}

.future-links ul {
    display: flex;
    column-gap: 10px;
    flex-wrap: wrap;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* médias */
img.artifact {
    image-rendering: pixelated;
    height: 100%;
    max-height: 400px; 
}